{% extends "dashboard/base_dashboard.html" %}

{% block title %}Project Dashboard{% endblock %}

{% block nav-dashboard %}class="active"{% endblock %}

{% block dash-nav-projects %}active{% endblock %}

{% block content %}

          <!-- BEGIN your projects list -->
          {% if project_list %}
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>My Projects</h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">

                  <ul>
                    {% for project in project_list %}
                      <li class="module-item col-span">
                        <a href="{% url projects_manage project.slug %}">{{ project.name }}</a>
                        <ul class="module-item-menu">
                          {% if not project.is_imported %}
                            <li><a href="{% url projects_manage project.slug %}">Manage Files</a></li>
                          {% endif %}
                          <li><a href="{% url projects_edit project.slug %}">Edit</a></li>
                          <li><a href="{% url docs_detail project.user.username project.slug "index.html" %}">View Docs</a></li>
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>

                </div>
              </div>

            </div>
          </div>
          {% else %}
          <p class="empty">You don't have any projects.  You can <a href="{% url projects_create %}">create new docs</a> on the site, or <a href="{% url projects_import %}">import docs</a> from a public repo.</p>
          {% endif %}
          <!-- END your projects list -->

          {% comment %}
          {% if bookmark_list %} 
          <!-- BEGIN marks list -->
          <div class="module">
            <div class="module-wrapper">
              <div class="module-header">
                <h3>Recently Bookmarked Docs <span class="small_head"><a href="{% url user_bookmarks %}">(All My Bookmarks)</a></span></h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% include "core/bookmark_list_detailed.html" %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END marks list -->
          {% endif %}
          {% endcomment %}


{% endblock %}
