{% extends "projects/base_project_editing.html" %}

{% load projects_tags %}

{% block title %}Manage {{ project.name }}{% endblock %}

{% block content-header %}<h1>Project Files</h1>{% endblock %}

{% block editing-option-manage %} class="active"{% endblock %}

{% block content %}

  {% if project.is_imported %}
  <a class="call-out" href="{% url projects_file_add project.slug %}">Add New Page</a>

  <ul>
    {% for file in project.get_top_level_files|annotated_tree %}
      <li class="depth-{{ file.depth }}">
        <a href="{% url projects_file_edit project.slug file.id %}">{{ file.heading }}</a>
        <a class="quiet" href="{% url projects_file_delete project.slug file.id %}">(delete)</a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
