{% extends "projects/base_project.html" %}

{% block title %}Project Dashboard{% endblock %}

{% block nav-dashboard %}class="active"{% endblock %}

{% block content %}

          <!-- BEGIN your projects list -->
          {% if project_list %}
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h2>My Projects</h2>
              </div>

              <div class="module-list">
                <ul>
                  {% for project in project_list %}
                    <li class="module-item col-span">
                      <a href="{% url projects_manage project.slug %}">{{ project.name }}</a>
                      <ul class="module-item-menu">
                        <li><a href="{% url projects_delete project.slug %}">Delete</a></li>
                        <li><a href="{% url docs_detail project.user.username project.slug "index.html" %}">View Docs</a></li>
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
          {% else %}
          <p class="empty">You don't have a single project.  Go make one!</p>
          {% endif %}
          <!-- END your projects list -->


          <!-- BEGIN marks list -->
          <div class="module">
            <div class="module-wrapper">
              <div class="module-header">
                  <h2>Recently Bookmarked Docs <small><a href="{% url user_bookmarks %}">(All Bookmarks)</a></small></h2>
              </div>

              <div class="module-list">
                <ul>
                  {% include "core/bookmark_list_detailed.html" %}
                </ul>
              </div>

            </div>
          </div>
          <!-- END marks list -->

          <!-- BEGIN import project -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-list">
                <ul>
                  <li class="module-item call"><a href="{% url projects_import %}">Import Documentation</a></li>
                </ul>
              </div>

            </div>
          </div>
          <!-- END import project -->

          <!-- BEGIN create new project -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-list">
                <ul>
                  <li class="module-item call"><a href="{% url projects_create %}">Create New Documentation</a></li>
                </ul>
              </div>

            </div>
          </div>
          <!-- END create new project -->

{% endblock %}
