{% extends "projects/base_project.html" %}

{% load pagination_tags %}

{% block title %}Projects {% if person %}by {{ person.username }}{% endif %}{% if tag %}tagged with "{{ tag.name }}"{% endif %}{% endblock %}

{% block nav-browse %}class="active"{% endblock %}

{% block content-header %}
    <h1>Projects {% if person %}by {{ person.username }}{% endif %}{% if tag %}tagged with "{{ tag.name }}"{% endif %}</h1>
{% endblock %}

{% block content %}
          {% autopaginate project_list 15 %}

          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>Recently Updated</h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">

                  <ul>
                    {% include "core/project_list_detailed.html" %}
                  </ul>

                </div>
              </div>

            </div>
          </div>
          <!-- END projects list -->

          {% paginate %}

{% endblock %}
