@charset "utf-8";

/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block !important; }
table { border-collapse: separate; border-spacing: 0; vertical-align: top; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { border-spacing: 0; width: 100%; }
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
ol,ul{list-style:none}
hr { height: 1px; border: 0; border: none; width: 100%; background: #bfbfbf; color: #bfbfbf; margin: 15px 0; padding: 0; }
*:focus { outline: none; }


/* general layout */

body { position: relative; text-align: center; z-index: 0; background: #fafafa; }
.wrapper { position: relative; text-align: left; margin: 0 auto; padding: 0 10px; width: 780px; }


/* typography */

body { font: 16px/20px "ff-meta-web-pro-1","ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #444; }
h1, h2, h3, h4, h5, h6 { color: #222; font-weight: bold; }
h1 { font-size: 30px; line-height: 34px; margin-bottom: 15px; }
h2 { font-size: 20px; line-height: 24px; margin-bottom: 10px; }
h3, h4, h5, h6 { font-size: 16px; line-height: 20px; margin-bottom: 10px; }
.aside, .quiet { color: #999; }
.error, .errorlist li { color: #EB3800; margin-bottom: 15px; }
a { color: #444; }
a:hover { color: #111; }
table { margin-bottom: 15px; }
p { margin-bottom: 15px; }
pre { margin: 15px 0; white-space: pre; }
pre, code, tt { font-family: "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; line-height: 20px; }
textarea, input { font-family: "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 16px; line-height: 20px; }


/* tables */

table, td, th { vertical-align: top; border-top: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; }
td, th { padding: 5px; border-right: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; }
thead { background: #f2f2f2; }
 

/* forms */

textarea, input { display: block; padding: 5px; background: #fff; border: 1px solid #BFBFBF; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
input[type="text"], input[type="password"] { width: 250px; height: 20px; margin-bottom: 5px; }
select { display: block; max-height: 300px; width: 250px; margin-bottom: 10px; font: 16/20px "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; }
textarea { width: 435px; height: 150px; }
input[type="submit"], input[type="button"], button { font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #666; font-weight: bold; padding: 4px 10px; border: none; background: #e6e6e6 url(../images/gradient.png) repeat-x bottom left; margin: 10px 5px 20px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); border: 1px solid #bfbfbf; }
input[type="submit"]:hover, input[type="button"]:hover, button:hover { background: #8ECC4C url(../images/gradient.png) repeat-x bottom left; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
fieldset { border: 1px solid #bfbfbf; padding: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-bottom: 15px; }
input[type="hidden"] { display: none; }
input[type="checkbox"], input[type="radio"] { display: inline; }
label { display: block; margin-bottom: 4px; font-weight: bold; }


/* header */

#header { height: 50px; background: #465158; overflow: hidden; text-align: left; }

  /* header title */
  .header-title h1 { font-size: 20px; padding: 5px 20px; color: #fff; }

  /* header search */
  .header-search { position: absolute; top: 10px; left: 230px; }
  .header-search input { padding: 0 5px; margin: 0; height: 25px; font-size: 14px; float: left; -moz-border-radius: 0; -webkit-border-radius: 0; border: none; }
  .header-search input[type="text"] { }
  .header-search input[type="submit"] {  }

  /* header nav */
  .header-nav { position: absolute; top: 0; right: 10px; }
  .header-nav ul li { float: left; }
  .header-nav ul li a { display: block; text-decoration: none; background: #697983; padding: 15px; color: #fff; }
  .header-nav ul li a:hover { background: #8CA1AF; }
  .header-nav ul li.active a, .header-nav ul li.active a:hover { background: #BAC7CF; }


/* content */

#content { margin-top: 80px; }


/* module */

.module { background: #E6E6E6; margin-bottom: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.module-wrapper { padding: 8px; }
.module-header { padding: 0 10px; }
.module-list { background: #fff; border: 1px solid #bfbfbf; border-bottom: none; }
.module-item a { text-decoration: none; display: block; border-bottom: 1px solid #bfbfbf; padding: 10px; }
.module-list a:hover { background: #f3f3f3 url(../images/gradient-light.png) bottom left repeat-x; }
.module-list .module-item.call a { padding: 30px; text-align: center; }


/* project editing */

#project_editing_toolbar { background: #E8ECEF; padding: 80px 0; }
#project_editing_toolbar ul { background: #D1D9DF;  }
#project_editing_toolbar ul li { display: block; float: left; padding: 15px 20px; background: #D1D9DF; }


/* pagination */

.pagination { float: left; background: #e6e6e6; padding: 8px; -moz-border-radius: 5px; webkit-border-radius: 5px; border-radius: 5px; }
.pagination a, .pagination span { background: #fff; display: block; color: #444; text-decoration: none; float: left; padding: 8px 10px; border: 1px solid #bfbfbf; border-right: none; }
.pagination a.disabled, .pagination span.disabled, 
.pagination a.disabled:hover, .pagination span.disabled:hover { color: #999; background: #fff; }
.pagination a:hover { background: url("../images/gradient-light.png") repeat-x scroll left bottom #f6f6f6; }
.pagination .next { border-right: 1px solid #bfbfbf; }
.pagination .current.page, .pagination .current.page:hover { color: #444; background: url("../images/gradient-light.png") repeat-x scroll left bottom #d9d9d9; }


/* utils */

.clear { clear: both; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }
.first { margin-left: 0; padding-left: 0; }
.last { margin-right: 0; padding-right: 0; }
.top { margin-top: 0; padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }
.clearfix:after, .wrapper:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .wrapper { display: block; }
