@charset "utf-8";

/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block !important; }
table { border-collapse: separate; border-spacing: 0; vertical-align: top; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { border-spacing: 0; width: 100%; }
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
ol,ul{list-style:none}
hr { height: 1px; border: 0; border: none; width: 100%; background: #bfbfbf; color: #bfbfbf; margin: 15px 0; padding: 0; }
*:focus { outline: none; }


/* general layout */

body { position: relative; text-align: center; z-index: 0; background: #fafafa url(../images/body-bg.png) top left repeat; }
.wrapper { position: relative; text-align: left; margin: 0 auto; padding: 0 10px; width: 800px; }

div.wrapper > div.col-major {
    display: block;
    float: left;
    width: 65%;
    margin-right: 20px;
}

div.wrapper > div.col-minor {
    overflow: auto;
}

/* typography */

body { font: 16px/24px "ff-meta-web-pro", "ff-meta-web-pro-1","ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #444; }
h1, h2, h3, h4, h5, h6 { color: #222; font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }
h1 { font-size: 28px; line-height: 36px; margin-bottom: 40px; }
h2 { font-size: 24px; line-height: 28px; margin-bottom: 10px; }
h3 { font-size: 20px; line-height: 24px; margin-bottom: 10px; }
h4, h5, h6 { font-size: 16px; line-height: 20px; margin-bottom: 10px; }
.aside, .quiet { font-weight: normal; color: #999; }
.error, .errornote, .errorlist li { color: #EB3800; }
.errornote { margin-bottom: 15px; }
.edit,
a { color: #444; }
.edit,
a:hover { color: #111; }
table { margin-bottom: 15px; }
p { margin-bottom: 15px; }
pre { margin: 15px 0; white-space: pre; overflow: auto; }
pre, code, tt { font-family: "inconsolata", "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; line-height: 20px; }
textarea, input, select { font-family: "inconsolata", "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 16px; line-height: 20px; }


/* tables */

table, td, th { vertical-align: top; border-top: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; }
td, th { padding: 5px; border-right: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; }
thead { background: #f2f2f2; }


/* forms */
small input[type=text] { font-size:0.8em; padding:2px; }

form p { color: #999; }
form p label { font-weight: normal; }
form p.required label { font-weight: bold; }
textarea, input, button, .button, select { display: block; padding: 5px; color: #444; background-color: #fff; border: 1px solid #BFBFBF; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
textarea, input, .button { box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
input[type="text"], input[type="password"] { width: 250px; height: 20px; margin-bottom: 5px; background: #fff; }
input::-webkit-input-placeholder { color: #ccc; }
input:-moz-placeholder { color: #ccc; opacity: 1; }
input::-moz-placeholder { color: #ccc; opacity: 1; }
input:-ms-input-placeholder { color: #ccc; }

select { display: block; max-height: 300px; width: 250px; margin-bottom: 10px; font: 16/20px "inconsolata", "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; }
textarea { background: #fff; width: 435px; height: 150px; }
input[type="submit"], input[type="button"], button, .button { font-family: "ff-meta-web-pro", "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #666; font-weight: bold; padding: 8px 15px; border: none; background: #e6e6e6 url(../images/gradient.png) repeat-x bottom left; margin: 30px 5px 20px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); border: 1px solid #bfbfbf; display: block; text-decoration: none; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; cursor: pointer;}
.button { padding: 6px 10px; float: left; cursor: pointer; }
input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button:hover { background-color: #8ECC4C; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); border-color: #6B9939; border-bottom-color: #50732B; }
input[type="submit"]:active, input[type="button"]:active, button:active, .buttonn:active { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
fieldset { border: 1px solid #bfbfbf; padding: 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-bottom: 15px; }
input[type="hidden"] { display: none; }
input[type="checkbox"], input[type="radio"] { display: inline; }
label { display: block; margin-bottom: 4px; font-weight: bold; color: #444; }


/* content */

#content { padding-top: 50px; }
#content ul { margin-bottom: 20px; }

#content #project_description { margin-bottom: 20px; }
/* Commenting this for now. Want to figure out how to make it look sane with small amounts of text. */
/* #content p { background-color: #eee; } */

/* icons */

i { display: inline-block; padding:0; margin:0; padding-right:6px; position: relative; bottom:-2px; width: 15px; height: 15px; background:no-repeat url(../images/gear.png); }

/* header */

#rtfd-header { height: 50px; background: url(../images/header-bg.png) bottom left repeat-x #465158; overflow: hidden; text-align: left; border-bottom: 1px solid #000; position:relative; }

  /* header title */
  .rtfd-header-title { position: relative; margin: 0; padding: 0; height: 50px; width: 180px; }
  .rtfd-header-title h1 { background: url(../images/logo.png) top left no-repeat; position: absolute; top: 0; left: -30px; margin: 0; padding: 0; font-size: 20px; line-height: 20px; color: #fff; text-indent: -9999em; }
  .rtfd-header-title h1 a { display: block; color: #fff; text-decoration: none; height: 50px; width: 200px; }

  /* header search */
  .rtfd-header-search { position: absolute; top: 12px; left: 190px; width: 300px; }
  .rtfd-header-search input { padding: 0 5px; margin: 0; height: 25px; font-size: 14px; float: left; -moz-border-radius: 0; -webkit-border-radius: 0; border: none; }
  .rtfd-header-search input[type="text"] { -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; width: 225px; }
  .rtfd-header-search input[type="submit"] { font-family: "ff-meta-web-pro", "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; padding: 0 12px; background: #e6e6e6 url(../images/gradient.png) repeat-x bottom left; font-weight: bold; color: #666; }
  .rtfd-header-search input[type="submit"]:hover { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); background-color: #8ECC4C; color: #fff; }

  /* header nav */
  .rtfd-header-nav { position: absolute; top: 0; right: 10px; }
  .rtfd-header-nav ul li { float: left; }
  .rtfd-header-nav ul li a { font-size: 14px; font-weight: bold; display: block; text-decoration: none; padding: 4px 10px; margin: 10px 0 0 10px; color: #fff; text-shadow: 0 1px 0px rgba(0, 0, 0, 0.5); background: #7C8F99 url(../images/gradient-light.png) bottom left repeat-x; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  .rtfd-header-nav ul li a:hover { background-color: #8CA1AF; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  .rtfd-header-nav ul li.active a, .header-nav ul li.active a:hover { background-color: #BAC7CF; }


/* home */

#home-header { background: url(../images/header-home-bg.png) top left repeat #465158; border-bottom: 1px solid #333; padding: 65px 0 35px 0; color: #fff; }
.home.splash #content { padding-top: 80px; }

  /* title */
  .home-header-title { padding: 15px 0 30px 110px; margin-left: -25px; background: url(../images/home-logo.png) top left no-repeat; text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); }
  .home-header-title h1 { color: #fff; padding: 0; margin: 0; text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3); }
  .home-header-title .tagline  { color: #BCC1C3; }

  /* title */
  .home-header-links { position: absolute; top: 22px; right: 10px; width: 180px; }
  .home-header-links a.reg { color: #fff; display: block; padding: 10px 20px; background: #7C8F99 url(../images/gradient-light.png) bottom left repeat-x; font-weight: bold; text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.7); text-decoration: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-bottom: 10px; text-align: center; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
  .home-header-links a.reg:hover { background-color: #8CA1AF; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  .home-header-links .login-box { text-align: center; }
  .home-header-links .login-box p { margin-bottom: 0; color: #BCC1C3; }
  .home-header-links .login { font-weight: bold; color: #e3e3e3; text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.5); }
  .home-header-links .login:hover { text-align: center; color: #fff; }


/* wide search bar */

.wide-search-bar { width: 100%; margin-bottom: 60px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #e6e6e6; background: rgba(0, 0, 0, 0.1); }
.wide-search-bar-wrapper { padding: 8px; }
.wide-search-bar input { margin: 0; height: 25px; padding: 10px; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
.wide-search-bar .text-input-wrapper { width: 70%; float: left; }
.wide-search-bar input[type="text"] { border-top-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; width: 513px; }
.wide-search-bar .submit-input-wrapper { width: 30%; float: left; }
.wide-search-bar input[type="submit"] { border-top-right-radius: 3px; border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; height: 47px; width: 100%; text-align: center; }


/* search */

.search { border-bottom: solid 1px #bfbfbf; }
.search input[type=text] { float: left; margin-right: 10px; padding: 8px 10px; }
.search input[type=submit] { margin-top: 0; }

.filter { margin-bottom: 1em; }
.filter dd { display: inline-block; margin-right: 0.75em; }
.filter dd small { opacity: 0.7; }

#search_module .pagination { float: right; margin-top: 1em; }


/* module */

.module { margin-bottom: 60px;  }
#content .module ul { margin-bottom: 0; }
.module-header .small_head { padding: 0 10px; font-size: 14px; }

  /* module list*/
  .module-list { padding: 8px; background: #E6E6E6; background: rgba(0, 0, 0, 0.1); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
  .module-list-wrapper { border: 1px solid #bfbfbf; border: 1px solid #bfbfbf; border-bottom: none; }
  .module-list .count { float: right; font-size: .9em; color: #aaa; }
  .module-item { position: relative; border-bottom: 1px solid #bfbfbf; padding: 10px; position:relative; }
  .module-item p { margin: 0; }

  /* module item title */
  .module-item .module-item-title { font-weight: bold; font-size: 16px; text-decoration: none; }
  .module-item a.module-item-title:hover { text-decoration: underline; }

  /* module item */
  .module-item { background: #fff; }

  /* right module menu */
  .module-item .module-item-menu { position: absolute; right: 0; top: 0; z-index: 5; }
  .module-item .module-item-menu li { display: block; float: left; }
  .module-item .module-item-menu li a { display: block; padding: 6px 10px 4px; margin: 7px 7px 0 0; font-weight: bold; font-size: 14px; height: 20px; line-height: 17px; text-decoration: none; color: #fff; background: #8CA1AF url(../images/gradient-light.png) bottom left repeat-x; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 1px #465158; -moz-box-shadow: 0 1px 1px #465158; -webkit-box-shadow: 0 1px 1px #465158; }
  .module-item .module-item-menu li a:hover { background-color: #697983; box-shadow: 0 1px 0px #465158; -moz-box-shadow: 0 1px 0px #465158; -webkit-box-shadow: 0 1px 0px #465158; }

  /* for links that span the column */
  .module-item.col-span { border-bottom: 1px solid #bfbfbf; padding: 0; font-weight: bold; font-size: 16px; text-decoration: none; }
  .module-item.col-span a { text-decoration: none; display: block; padding: 10px; }
  .module-item.col-span a:hover { background: #f3f3f3 url(../images/gradient-light.png) bottom left repeat-x; }

  /* call out */
  .module-list .module-item.call { padding: 0; }
  .module-list .module-item.call a { display: block; padding: 30px; text-align: center; text-decoration: none; font-weight: bold; font-size: 18px; }
  .module-list .module-item.call a:hover { background: #f3f3f3 url(../images/gradient-light.png) bottom left repeat-x; background-color: #8ECC4C; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); border-color: #8ECC4C; }

  /* Success Model Item */
  .module-item .success { float: right; }


/* project bar */

#project_bar { background: #E8ECEF url(../images/project-bar-bg.png) top left repeat; border-bottom: 1px solid #DAE1E5; overflow:hidden; position:relative; }
#project_bar a { text-decoration: none; }

#project_bar > .wrapper { padding: 40px 0 50px; }

  body.project-edit #project_bar > .wrapper { background: url(../images/project-bar-bg-admin.svg) scroll 100% 1.1em no-repeat; }
  /* editing dashboard toolbar */
  #project_bar .project-title { padding: 0; }
  #project_bar .project-title h1 { margin: 0 0 5px; padding: 0; }
  #project_bar .project-title span.project-breadcrumb {
    display: block;
    font-size: .6em;
    line-height: 1em;
  }

  #project_bar .project-title span.project-breadcrumb:after {
    content: " \bb";
  }

  /* options */
  #project_bar .options { padding: 20px 0 0 0;  }
  #project_bar .options ul li { float: left; display: block; margin-right: 10px; }
  #project_bar .options ul li.active a { background-color: #465158; }
  #project_bar .options ul li a { display: block; padding: 8px 12px 6px; font-weight: bold; font-size: 15px; height: 20px; line-height: 20px; text-decoration: none; color: #fff; background: #8CA1AF url(../images/gradient-light.png) bottom left repeat-x; box-shadow: 0 1px 1px #465158; -moz-box-shadow: 0 1px 1px #465158; -webkit-box-shadow: 0 1px 1px #465158; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
  #project_bar .options ul li a:hover { background-color: #697983; box-shadow: 0 1px 0px #465158; -moz-box-shadow: 0 1px 0px #465158; -webkit-box-shadow: 0 1px 0px #465158; }

  /* text editor */
  .editor { width: 500px; height: 600px; }

  /* file tree */
  li.depth-1 { padding-left: 0px; }
  li.depth-2 { padding-left: 20px; }
  li.depth-3 { padding-left: 40px; }
  li.depth-4 { padding-left: 60px; }
  li.depth-5 { padding-left: 80px; }
  li.depth-6 { padding-left: 100px; }
  li.depth-7 { padding-left: 120px; }
  li.depth-8 { padding-left: 140px; }
  li.depth-9 { padding-left: 160px; }
  li.depth-10 { padding-left: 180px; }

p.build-success { font-size: .8em; color: #108830; margin: 0 0 3px; }
p.build-failure { font-size: .8em; color: #dc1020; margin: 0 0 3px; }
p.build-missing { font-size: .8em; color: #9d9a55; margin: 0 0 3px; }

.navigable .profile_image { position:relative; left:-8px; top:-1px; width:184px; overflow:hidden; }
.navigable .profile_image img { border-radius:5px; } 

.profile #content { padding-top:8px; }
/* build page */

#build_list select { width: 10em; }


/* dashboard bar */

#dashboard_bar { background: #E8ECEF url(../images/project-bar-bg.png) top left repeat; border-bottom: 1px solid #DAE1E5; padding: 10px 0; }
#dashboard_bar ul { display: block; float: left; margin-right: 10px; }
#dashboard_bar ul li { display: block; float: left; }
#dashboard_bar ul li a { padding: 5px 10px; border: 1px solid #BAC7CF; border-bottom-color: #8C959B; border-right: none; background: url(../images/gradient-light.png) bottom left repeat-x #fff; text-decoration: none; display: block; text-shadow: 0 1px rgba(255, 255, 255, 0.4); }
#dashboard_bar ul li.first a { border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; }
#dashboard_bar ul li.last a { border-right: 1px solid #BAC7CF; border-bottom-right-radius: 5px; border-top-right-radius: 5px;-moz-border-radius-bottomright: 5px; -moz-border-radius-topright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-top-right-radius: 5px; }

  /* states */
  #dashboard_bar ul li a:hover { background-color: #D1D9DF; color: #444; }
  #dashboard_bar ul li.active a { background-color: #8CA1AF; color: #fff; border-bottom-color: #465158; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }


/* pagination */

.pagination { float: left; background: #e6e6e6; padding: 8px; border-radius: 5px; -moz-border-radius: 5px; webkit-border-radius: 5px; }
.pagination a, .pagination span { background: #fff; display: block; color: #444; text-decoration: none; float: left; padding: 8px 10px; border: 1px solid #bfbfbf; border-right: none; }
.pagination a.disabled, .pagination span.disabled,
.pagination a.disabled:hover, .pagination span.disabled:hover { color: #999; background: #fff; }
.pagination a:hover { background: url("../images/gradient-light.png") repeat-x scroll left bottom #f6f6f6; }
.pagination .next { border-right: 1px solid #bfbfbf; }
.pagination .current.page, .pagination .current.page:hover { color: #444; background: url("../images/gradient-light.png") repeat-x scroll left bottom #d9d9d9; }


/* call out */

.call-out { display: block; float: right; padding: 8px 12px 6px; font-weight: bold; font-size: 15px; height: 20px; line-height: 20px; text-decoration: none; color: #fff; background: #8CA1AF url(../images/gradient-light.png) bottom left repeat-x; border-bottom: 1px solid #465158; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
.call-out:hover { color: #fff; background-color: #697983; }


/* history page */

.content-panel { float: left; width: 45%; height: 400px; padding: 10px; overflow: auto; }
.content-panel .original { border-right: 1px solid #ccc; }
.content-panel h3.panel-text { border-bottom: 6px solid #ccc; height: 32px; }
.content-panel select.revision-select { display: inline; max-width: 250px; }
.content-panel input[type="submit"].revision-revert { display: inline; margin: 0 0 0 5px; padding: 0px 3px; font-size: .75em; }


/* notification box */

.notification { padding: 30px 0; color: #a55; }

/* sidebar + main content */

.navigable { width: 100%; }
.navigable:after { content:' '; display:block; visibility:visible; clear:both; }
.navigable > ul { width:184px; margin-right:16px; float: left; }
.navigable > ul > li { border-bottom: 1px solid #bfbfbf; position:relative; word-break:break-all; }
.navigable > ul > li > * { padding-left:8px; padding-bottom:4px; padding-top:5px; text-decoration: none; display: block; }
.navigable > ul > li:last-child { border-bottom: none; }
.navigable > ul > li.active { background:#DAE1E5; }
.navigable > ul > li.active:after { content:"•"; position:absolute; right:8px; top:6px; font-size:1.2em; color:#465158; }

.navigable > ul > li > a:hover { background:#E8ECEF; }
.navigable > div { width:600px; float: left; padding-top:4px; } 

/* autocomplete */

.ui-autocomplete { background: #fff; text-align: left; border: 1px solid #bfbfbf; }
.ui-state-hover { background: #eee; }
.ui-menu-item a { display: block; padding: 3px 10px; }


/* footer */

#footer { margin: 100px 0; color: #aaa; }
#footer a { color: #aaa; }
#footer a:hover { color: #666; }


/* utils */

.clear { clear: both; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }
.right-menu { float: right; margin-right: 132px; }
.quiet { color: #999; }
.help_text { color: #999; }
.highlighted { background-color: #ee9; padding: 0 1px; margin: 0 1px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.first { margin-left: 0; padding-left: 0; }
.last { margin-right: 0; padding-right: 0; }
.top { margin-top: 0; padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }
.empty { padding: 30px; background: #E6E6E6; background: rgba(0, 0, 0, 0.1); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-bottom: 60px; }
.clearfix:after, .wrapper:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .wrapper { display: block; }

/* project detail */
.project_detail .module {
  float: left;
  width: 500px;
}

.project_detail .module .help_text {
  font-size: 14px;
}

.project_detail .help_text em {
  color: #666;
}

.project_detail .build_a_version {
  margin-top: 40px;
}

.project_detail .project_details {
  float: right;
  width: 250px;
  margin-top: 34px;
}

.project_detail .project_details h3 {
  margin-bottom: 0;
  font-size: 16px;
}

/* Build state */
span.build-state {
    padding: .2em .4em;
    margin-left: .3em;
    border-radius: .3em;
    border: 1px solid #e4e4e4;
    color: #fff;
}

span.build-state.build-state-passing { color: #5a5; }
span.build-state.build-state-failing { color: #a55; }

.when-editing { opacity: 0; -webkit-transition:opacity 0.2s ease-in-out; -moz-transition:opacity 0.2s ease-in-out; -ms-transition:opacity 0.2s ease-in-out; -o-transition:opacity 0.2s ease-in-out; transition:opacity 0.2s ease-in-out; pointer-events:none; -webkit-user-select:none; }
.editing .when-editing { opacity: 1; }

.edit { cursor: pointer; -webkit-user-select: none; overflow:hidden; position:relative; }
.edit { background:url(../images/edit.png) no-repeat; display:block; width:16px; height:16px; background-size:100% 100%; }
.edit > span {text-indent:-9999em; text-direction:ltr; display:block; } 
body .edit-toggle { display: none; }

.edit-input { display: none; }

.edit-toggle + .editable .edit-input { display: none; }
.edit-toggle + .editable .edit-target { display: auto; }
.edit-toggle:checked + .editable .edit-input { display: inline; }
.edit-toggle:checked + .editable .edit-target { display: none; }

.navigable ul .edit { position:absolute; top:8px; left:-16px; opacity:0.25; -webkit-transition:opacity 0.2s ease-in-out; -moz-transition:opacity 0.2s ease-in-out; -ms-transition:opacity 0.2s ease-in-out; -o-transition:opacity 0.2s ease-in-out; transition:opacity 0.2s ease-in-out; text-transform:uppercase; text-decoration: underline; }
.navigable ul li:hover .edit { opacity:1; }

.navigable ul input[type=text] { width: 164px; }


select.dropdown { display: none; }
.dropdown > a { font-family: "ff-meta-web-pro", "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #666; font-weight: bold; padding: 8px 15px; border: none; background: #e6e6e6 url(../images/gradient.png) repeat-x bottom left; margin: 30px 5px 20px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); border: 1px solid #bfbfbf; display: block; text-decoration: none; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; }


.dropdown { position: relative; display: inline-block; height: 32px; min-width:128px; }
.dropdown > span { position:relative; display: block; }
.dropdown > span a:first-child { display: block; padding: 6px 10px 4px; padding-right:42px; margin: 7px 7px 0 0; font-weight: bold; font-size: 14px; height: 20px; line-height: 17px; text-decoration: none; color: #fff; background: #7C8F99 url(../images/gradient-light.png) bottom left repeat-x; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 1px #465158; -moz-box-shadow: 0 1px 1px #465158; -webkit-box-shadow: 0 1px 1px #465158; }
.dropdown > span a:first-child:hover { background: #8CA1AF; }

.dropdown > span a + a { display: block; overflow: hidden; position:absolute; padding:3px 0px; right:7px; top:0px; width:32px; border-left:1px solid #465158; border-radius:0px 2px 2px 0px; color:white; text-decoration:none; font-size:12px; text-align:center; }
.dropdown > span a + a:hover { background: #8CA1AF; }

.dropdown > ul { display: none; margin-top:16px; position:absolute; top:100%; left:-8px; background:#465158; padding:4px; border-radius:4px; z-index:1005; min-width:128px; box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2); }
.dropdown > ul > li { background: white; padding:8px 10px; border-bottom:1px solid #EEE; }

.dropdown > ul.js-open { display:block; }

.dropdown > ul:before { content:' '; visibility: visible; border:8px solid transparent; border-bottom-color: #465158; position:absolute; top:-16px; left:104px; }


.badge { position: relative; display: inline-block; width: 700px; left: -350px;}
.badge > ul:before { visibility: visible; border:8px solid transparent; border-bottom-color: #465158; position:absolute; top:-16px;  }
.badge > ul { margin-top: 3px; position:absolute; top:100%; background:#465158; padding:4px; border-radius:4px; z-index:1005; min-width:500; box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2); }
.badge > ul > li { background: white; padding:8px 10px; border-bottom:1px solid #EEE; }
.badge pre { font-size: 12px; }
