@charset "utf-8";

/* reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block !important; }
table { border-collapse: separate; border-spacing: 0; vertical-align: top; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { border-spacing: 0; width: 100%; }
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
ol,ul{list-style:none}
hr { height: 1px; border: 0; border: none; width: 100%; background: #bfbfbf; color: #bfbfbf; margin: 15px 0; padding: 0; }
*:focus { outline: none; }


/* general layout */

body { position: relative; text-align: center; z-index: 0; background: #fafafa; }
.wrapper { position: relative; text-align: left; margin: 0 auto; padding: 0 10px; width: 780px; }


/* typography */

body { font: 16px/24px "ff-meta-web-pro-1","ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #444; }
h1, h2, h3, h4, h5, h6 { color: #222; font-weight: bold; }
h1 { font-size: 28px; line-height: 36px; margin-bottom: 40px; }
h2 { font-size: 24px; line-height: 28px; margin-bottom: 10px; }
h3 { font-size: 20px; line-height: 24px; margin-bottom: 10px; }
h4, h5, h6 { font-size: 16px; line-height: 20px; margin-bottom: 10px; }
.aside, .quiet { font-weight: normal; color: #999; }
.error, .errorlist li { color: #EB3800; margin-bottom: 15px; }
a { color: #444; }
a:hover { color: #111; }
table { margin-bottom: 15px; }
p { margin-bottom: 15px; }
pre { margin: 15px 0; white-space: pre; overflow: auto; }
pre, code, tt { font-family: "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; line-height: 20px; }
textarea, input, select { font-family: "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; font-size: 16px; line-height: 20px; }


/* tables */

table, td, th { vertical-align: top; border-top: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; }
td, th { padding: 5px; border-right: 1px solid #bfbfbf; border-bottom: 1px solid #bfbfbf; }
thead { background: #f2f2f2; }
 

/* forms */

form p { color: #999; }
textarea, input, button, select { display: block; padding: 5px; color: #444;  background: #fff; border: 1px solid #BFBFBF; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
input[type="text"], input[type="password"] { width: 250px; height: 20px; margin-bottom: 5px; }
select { display: block; max-height: 300px; width: 250px; margin-bottom: 10px; font: 16/20px "inconsolata-1", "inconsolata-2", 'bitstream vera sans mono', 'andale mono', 'lucida console', monospace; }
textarea { width: 435px; height: 150px; }
input[type="submit"], input[type="button"], button { font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #666; font-weight: bold; padding: 5px 10px; border: none; background: #e6e6e6 url(../images/gradient.png) repeat-x bottom left; margin: 30px 5px 20px 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); border: 1px solid #bfbfbf; display: block; text-decoration: none; }
input[type="submit"]:hover, input[type="button"]:hover, button:hover { background-color: #8ECC4C; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); border-color: #8ECC4C; }
fieldset { border: 1px solid #bfbfbf; padding: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-bottom: 15px; }
input[type="hidden"] { display: none; }
input[type="checkbox"], input[type="radio"] { display: inline; }
label { display: block; margin-bottom: 4px; font-weight: bold; color: #444; }


/* content */

#content { padding-top: 80px; }
#content ul { margin-bottom: 20px; }


/* home */

.home.splash #content { padding-top: 280px; }
#home-header { position: absolute; top: 0; left: 0; width: 100%; background: #465158; padding: 80px 0; color: #fff; }

  /* title */
  .home-header-title h1 { color: #fff; padding: 0; margin: 0 0 10px; }
  .home-header-title a { color: #fff; }

  /* title */
  .home-header-links { position: absolute; top: 0; right: 10px; }
  .home-header-links a { float: left; display: block; font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif; color: #666; font-weight: bold; padding: 10px 20px; border: none; background: #e6e6e6 url(../images/gradient.png) repeat-x bottom left; text-shadow: 0 1px 0 rgba(255, 255, 255, 1); border: 1px solid #bfbfbf; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-left: 20px; }

  .home-header-links a:hover { background-color: #8ECC4C; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); border-color: #8ECC4C; }


/* wide search bar */

.wide-search-bar { width: 100%; margin-bottom: 80px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #e6e6e6; }
.wide-search-bar-wrapper { padding: 8px; }
.wide-search-bar input { margin: 0; height: 25px; padding: 10px; -moz-border-radius: 0; -webkit-border-radius: 0; }
.wide-search-bar .text-input-wrapper { width: 70%; float: left; }
.wide-search-bar input[type="text"] { -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; width: 100%; }
.wide-search-bar .submit-input-wrapper { width: 30%; float: left; }
.wide-search-bar input[type="submit"] { -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; height: 47px; width: 100%; text-align: center; }


/* module */

.module { margin-bottom: 60px;  }
#content .module ul { margin-bottom: 0; }
.module-header .small_head { padding: 0 10px; font-size: 14px; }

  /* module list*/
  .module-list { padding: 8px; background: #E6E6E6; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
  .module-list-wrapper { border: 1px solid #bfbfbf; border: 1px solid #bfbfbf; border-bottom: none; }
  .module-list .count { float: right; font-size: .9em; color: #aaa; }
  .module-item { position: relative; border-bottom: 1px solid #bfbfbf; padding: 10px; }

  /* module item title */
  .module-item .module-item-title { font-weight: bold; font-size: 16px; text-decoration: none; }
  .module-item a.module-item-title:hover { text-decoration: underline; }

  /* module item */
  .module-item { background: #fff; }

  /* right module menu */
  .module-item .module-item-menu { position: absolute; right: 0; top: 0; z-index: 5; }
  .module-item .module-item-menu li { display: block; float: left; }
  .module-item .module-item-menu li a { font-weight: bold; font-size: 14px; line-height: 16px; display: block; padding: 7px 10px; margin: 7px 7px 0 0; background: #e3e3e3; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #666; }
  .module-item .module-item-menu li a:hover { background: #bfbfbf; }

  /* for links that span the column */
  .module-item.col-span { border-bottom: 1px solid #bfbfbf; padding: 0; font-weight: bold; font-size: 16px; text-decoration: none; }
  .module-item.col-span a { text-decoration: none; display: block; padding: 10px; }
  .module-item.col-span a:hover { background: #f3f3f3 url(../images/gradient-light.png) bottom left repeat-x; }

  /* call out */
  .module-list .module-item.call { padding: 0; }
  .module-list .module-item.call a { display: block; padding: 30px; text-align: center; text-decoration: none; font-weight: bold; font-size: 18px; }
  .module-list .module-item.call a:hover { background: #f3f3f3 url(../images/gradient-light.png) bottom left repeat-x; background-color: #8ECC4C; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); border-color: #8ECC4C; }

  /* Success Model Item */
  .module-item .success { float: right; }


/* project bar */

#project_bar { background: #E8ECEF; padding: 50px 0; }
#project_bar a { text-decoration: none; }

  /* editing dashboard toolbar */
  #project_bar .project-title { padding: 0 0 20px 0; }
  #project_bar .project-title h1 { margin: 0 0 5px; padding: 0; }

  /* options */
  #project_bar .options ul {  }
  #project_bar .options ul li { float: left; display: block; margin-right: 10px; }
  #project_bar .options ul li.active a { background-color: #465158; }
  #project_bar .options a { display: block; padding: 6px 10px 4px; font-weight: bold; font-size: 14px; height: 20px; line-height: 17px; text-decoration: none; color: #fff; background: #8CA1AF url(../images/gradient-light.png) bottom left repeat-x; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
  #project_bar .options a:hover { background-color: #465158;  }

  /* text editor */
  .editor { width: 500px; height: 600px; }

  /* file tree */
  li.depth-1 { padding-left: 0px; }
  li.depth-2 { padding-left: 20px; }
  li.depth-3 { padding-left: 40px; }
  li.depth-4 { padding-left: 60px; }
  li.depth-5 { padding-left: 80px; }
  li.depth-6 { padding-left: 100px; }
  li.depth-7 { padding-left: 120px; }
  li.depth-8 { padding-left: 140px; }
  li.depth-9 { padding-left: 160px; }
  li.depth-10 { padding-left: 180px; }
  
p.build-success { font-size: .8em; color: #080; }
p.build-failure { font-size: .8em; color: #D00; }
p.build-missing { font-size: .8em; color: #aa5; }


/* pagination */

.pagination { float: left; background: #e6e6e6; padding: 8px; -moz-border-radius: 5px; webkit-border-radius: 5px; border-radius: 5px; }
.pagination a, .pagination span { background: #fff; display: block; color: #444; text-decoration: none; float: left; padding: 8px 10px; border: 1px solid #bfbfbf; border-right: none; }
.pagination a.disabled, .pagination span.disabled, 
.pagination a.disabled:hover, .pagination span.disabled:hover { color: #999; background: #fff; }
.pagination a:hover { background: url("../images/gradient-light.png") repeat-x scroll left bottom #f6f6f6; }
.pagination .next { border-right: 1px solid #bfbfbf; }
.pagination .current.page, .pagination .current.page:hover { color: #444; background: url("../images/gradient-light.png") repeat-x scroll left bottom #d9d9d9; }


/* call out */

.call-out { display: block; float: right; padding: 6px 10px 4px; font-weight: bold; font-size: 14px; height: 20px; line-height: 17px; text-decoration: none; color: #fff; background: #8CA1AF url(../images/gradient-light.png) bottom left repeat-x; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.call-out:hover { color: #fff; background-color: #465158; }


/* history page */

.content-panel { float: left; width: 45%; height: 400px; padding: 10px; overflow: auto; }
.content-panel .original { border-right: 1px solid #ccc; }
.content-panel h3.panel-text { border-bottom: 6px solid #ccc; height: 32px; }
.content-panel select.revision-select { display: inline; max-width: 250px; }
.content-panel input[type="submit"].revision-revert { display: inline; margin: 0 0 0 5px; padding: 0px 3px; font-size: .75em; }


/* notification box */

.notification { padding: 30px 0; color: #a55; }


/* footer */

#footer { margin: 100px 0; color: #aaa; }
#footer a { color: #aaa; }
#footer a:hover { color: #666; }


/* utils */

.clear { clear: both; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }
.quiet { color: #999; }
.help_text { color: #999; }
.first { margin-left: 0; padding-left: 0; }
.last { margin-right: 0; padding-right: 0; }
.top { margin-top: 0; padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }
.empty { padding: 30px; background: #E6E6E6; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 60px; }
.clearfix:after, .wrapper:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.clearfix, .wrapper { display: block; }
