/* Left for CSS overrides we need to make in the future */

/* Fix badge on RTD Theme */

/* Please keep RTD badge displayed on your site */
.rst-versions.rst-badge {
    display: block;
}

.rst-other-versions {
	text-align: left;
}

.rst-other-versions a {
	border: 0;
}

.rst-other-versions dl {
	margin: 0;
}


/* Fix RTD theme bottom margin */
.rst-content .line-block {
	margin-bottom: 24px
}

/* Fix for nav bottom padding with flyout */
nav.wy-nav-side {
    padding-bottom: 3em;
}

/* bookmark icon */
.bookmark-added-msg {display: none;}
.bookmark-active {display: none;}
.bookmark-inactive {display: none;}


/* Read the Docs promotional block, only applicable to RTD.org

To support sphinx_rtd_theme, a `wy-menu` element is added. Other themes are
targeted using the theme identifier and use custom elements instead of a CSS
framework html structure.

div.rst-pro is deprecated in favor of div.rtd-pro here, though we still need
both rules for historical docs.
*/

div.rtd-pro,
div.rst-pro {
    display: block;
    padding: .5em;
    margin: 1em 0em 1em 0em;
    text-align: center;
}
div.rtd-pro.wy-menu,
div.rtd-pro.wy-menu {
    width: 300px;
}
div.rtd-pro.alabaster {
    width: 100%;
    box-sizing: border-box;
}

div.rtd-pro.wy-menu,
div.rst-pro.wy-menu {
    bottom: 60px;
    background: rgba(0, 0, 0, .06);
}

div.rtd-pro.alabaster {
    background: rgba(220, 220, 220, .1);
}

div.rtd-pro > span,
div.rst-pro > span {
    display: block;
    font-size: 90%;
}

div.rtd-pro.wy-menu > span,
div.rst-pro.wy-menu > span {
    color: #838383;
}

div.rtd-pro.wy-menu a,
div.rtd-pro.wy-menu a:link,
div.rtd-pro.wy-menu a:visited,
div.rst-pro.wy-menu a,
div.rst-pro.wy-menu a:link,
div.rst-pro.wy-menu a:visited { color: #b3b3b3; }

div.rtd-pro.wy-menu a:hover,
div.rtd-pro.wy-menu a:active,
div.rst-pro.wy-menu a:hover,
div.rst-pro.wy-menu a:active { color: #c3c3c3; }

div.rtd-pro a.rtd-pro-image-wrapper {
    display: inline-block;
    padding: 6px;
    margin: 5px 0px 10px 0px;
    border: 1px solid #434343;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.rtd-pro.wy-menu a.rtd-pro-image-wrapper,
div.rst-pro.wy-menu a.rst-pro-image-wrapper {
    border-color: #434343;
}

div.rtd-pro.alabaster a.rtd-pro-image-wrapper {
    border-color: #d3d3d3;
}

div.rtd-pro img,
div.rst-pro.wy-menu img {
    width: 120px;
    height: 90px;
}

div.rtd-pro div.rtd-pro-about {
    float: right;
    text-align: right;
    font-size: 90%;
}
div.rtd-pro.wy-menu div.rtd-pro-about,
div.rst-pro.wy-menu div.rst-pro-about {
    color: white;
}

div.rtd-pro.alabaster div.rtd-pro-about a {
    border-bottom: 0px;
}

div.rtd-pro.alabaster div.rtd-pro-about i.fa-info-circle:before {
    content: "ÔÅö";
    color: #a3a3a3;
}

@media (max-width: 768px) {
    div.rst-pro.wy-menu {
        display: none;
    }

    div.rtd-pro.alabaster {
        background: rgba(220, 220, 220, .05);
    }

    div.rtd-pro.alabaster a.rtd-pro-image-wrapper {
        border-color: #656565;
    }
}
