/* Left for CSS overrides we need to make in the future */

/* Fix badge on RTD Theme */

/* Please keep RTD badge displayed on your site */
.rst-versions.rst-badge {
    display: block;

    bottom: 50px;
}

.rst-other-versions {
    text-align: left;
}

.rst-other-versions a {
    border: 0;
}

.rst-other-versions dl {
    margin: 0;
}


/* Fix RTD theme bottom margin */
.rst-content .line-block {
    margin-bottom: 24px
}

/* Fix for nav bottom padding with flyout */
nav.wy-nav-side {
    padding-bottom: 3em;
}

/* bookmark icon */
.bookmark-added-msg {display: none;}
.bookmark-active {display: none;}
.bookmark-inactive {display: none;}


/* Read the Docs promotional block, only applicable to RTD.org

To support sphinx_rtd_theme, a `wy-menu` element is added. Other themes are
targeted using the theme identifier and use custom elements instead of a CSS
framework html structure.

*/

div.ethical-sidebar, div.ethical-footer {
    display: block !important;
}
.ethical-sidebar, .ethical-footer {
    padding: .5em;
    margin: 1em 0;
}
.ethical-sidebar img, .ethical-footer img {
    width: 120px;
    height: 90px;
    display: inline-block;
}
.ethical-sidebar .ethical-callout, .ethical-footer .ethical-callout {
    padding-top: 1em;
    clear: both;
}
.ethical-sidebar .ethical-pixel, .ethical-footer .ethical-pixel, .ethical-fixedfooter .ethical-pixel {
    display: none !important;
}
.ethical-sidebar .ethical-text, .ethical-footer .ethical-text {
    margin-top: 1em;
}
.ethical-sidebar .ethical-image-link, .ethical-footer .ethical-image-link {
    border: 0;
}

/* Sidebar promotions */
.ethical-sidebar {
    text-align: center;
}

/* Footer promotions */
.ethical-footer {
    text-align: left;
    font-size: 90%;
}
.ethical-footer img {
    float: right;
    margin-left: 25px;
}
.ethical-footer .ethical-callout {
    text-align: right;
}

/* Fixed footer promotions */
.ethical-fixedfooter {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #eee;
    border-top: 1px solid #bfbfbf;
    font-size: 12px;
    line-height: 16px;
    padding: 0.5em 2.5em;
    text-align: center;
    color: #404040;
    width: 100%;    /* Fallback for Opera Mini */
    width: 100vw;
}
.ethical-fixedfooter a,
.ethical-fixedfooter a:hover,
.ethical-fixedfooter a:active,
.ethical-fixedfooter a:visited {
    color: #004B6B;
    text-decoration: underline;
}
.ethical-fixedfooter .ethical-close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 15px;
    line-height: 15px;
}
.ethical-fixedfooter .ethical-close a {
    color: black;
    text-decoration: none;
}

/* RTD Theme specific customizations */
.ethical-rtd .ethical-sidebar {
    /* RTD theme doesn't set sidebar text color */
    color: #b3b3b3;

    /* RTD theme doesn't correctly set the sidebar width */
    width: 300px;

    font-size: 14px;
    line-height: 20px;
}
.ethical-rtd .ethical-sidebar a,
.ethical-rtd .ethical-sidebar a:visited,
.ethical-rtd .ethical-sidebar a:hover,
.ethical-rtd .ethical-sidebar a:active {
    /* RTD theme doesn't set sidebar link color */
    color: #efefef;
}

/* Alabaster specific customizations */
.ethical-alabaster a.ethical-image-link {
    /* Alabaster adds a border even to image links on hover */
    border: 0 !important;
}
.ethical-alabaster hr {
    /* Alabaster needs some extra spacing before the footer ad */
    margin-top: 2em;
}
.ethical-alabaster::before {
    /* Alabaster's search box above the ad is floating */
    clear: both;
    content: '';
    display: table;
    margin-top: 3em;
}
