/* Left for CSS overrides we need to make in the future */

/* Fix badge on RTD Theme */

/* Please keep RTD badge displayed on your site */
.rst-versions.rst-badge {
    display: block;
}

.rst-other-versions {
	text-align: left;
}

.rst-other-versions a {
	border: 0;
}

.rst-other-versions dl {
	margin: 0;
}

/* Fix Mkdocs sidebar */

nav.stickynav {
	position: absolute;
}
