logs
bower_components

.git
*.db*
*.sql
celerybeat*
debug.log

**/__pycache__

contrib
datasets
media/epub
media/htmlzip
media/json
media/pdf
node_modules
private_cname_project
private_cname_root
private_web_root
public_cname_project
public_cname_root
public_cnames
public_symlinks
public_web_root
user_builds
