{
  "extends": "airbnb-base/legacy",
  "globals": {
    "$": true
  },
  "rules": {
    "array-callback-return": "warn",
    "brace-style": "off",
    "camelcase": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "dot-notation": "off",
    "eqeqeq": "error",
    "func-names": "off",
    "guard-for-in": "warn",
    "indent": "off",
    "keyword-spacing": "off",
    "no-console": "off",
    "no-inner-declarations": "warn",
    "no-loop-func": "warn",
    "no-mixed-operators": "warn",
    "no-multi-assign": "off",
    "no-param-reassign": "off",
    "no-redeclare": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-undef": "warn",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "no-use-before-define": "error",
    "object-curly-spacing": "off",
    "one-var": "error",
    "padded-blocks": "off",
    "quote-props": "off",
    "quotes": "off",
    "semi": "error",
    "space-before-function-paren": "error",
    "space-unary-ops": "error",
    "spaced-comment": "off",
    "vars-on-top": "off",
  }
}
