*.db
*.pyc
*.swp
*.egg-info
.DS_Store
_build
cnames
deploy/.vagrant
doc_root
local_settings.py
locks/*
logs/*
media/json
media/dash
media/epub
media/export
media/htmlzip
media/man
media/pdf
media/static
readthedocs/rtd_tests/tests/builds
user_builds
user_uploads
wheelhouse
whoosh_index
xml_output
.idea
.vagrant
