*.db
*.rdb
*.egg-info
*.log
*.pyc
*.swp
.DS_Store
.cache
.coverage
.idea
.vagrant
.vscode
.tox
.env
.rope_project/
.ropeproject/
_build
bower_components/
contrib/supervisord.log
contrib/supervisord.pid
celerybeat-schedule.*
deploy/.vagrant
dist/*
local_settings.py
locks/*
logs/*
media/dash
media/epub
media/export
media/htmlzip
media/json
media/man
media/pdf
media/static
/static
node_modules
package-lock.json
readthedocs/rtd_tests/builds
readthedocs/rtd_tests/tests/builds
user_builds
user_uploads
prod_artifacts
wheelhouse
whoosh_index
xml_output
public_*
private_*
.rope_project/
readthedocs/htmlcov
tags
.python-version
*.pyo
.pytest_cache/
scripts/travis/elasticsearch*

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
