*.db
*.pyc
*.swp
.DS_Store
_build
cnames
deploy/.vagrant
doc_root
local_settings.py
locks/*
logs/*
media/epub
media/export
media/htmlzip
media/man
media/pdf
media/static
readthedocs/rtd_tests/tests/builds
user_builds
user_uploads
xml_output
