[settings]
line_length=80
indent='    '
multi_line_output=4
default_section=THIRDPARTY
known_first_party=readthedocs,readthedocsinc
known_third_party=mock
sections=FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
add_imports=from __future__ import division, from __future__ import print_function, from __future__ import unicode_literals
