exclude: '^$'
fail_fast: false
repos:
- repo: git@github.com:pre-commit/pre-commit-hooks
  sha: v1.2.0
  hooks:
    - id: autopep8-wrapper
    - id: check-added-large-files
    - id: debug-statements
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: flake8
      additional_dependencies: [
      'flake8-blind-except',
      'flake8-coding',
      'flake8-comprehensions',
      'flake8-debugger',
      'flake8-deprecated',
      'flake8-docstrings',
      'flake8-meiqia',
      'flake8-mutable',
      'flake8-pep3101',
      'flake8-print',
      'flake8-quotes',
      'flake8-string-format',
      'flake8-tidy-imports',
      'flake8-todo']
      exclude: 'test_oauth.py'
    - id: trailing-whitespace

- repo: git@github.com:pre-commit/mirrors-yapf.git
  sha: v0.20.1
  hooks:
    - id: yapf
      exclude: 'migrations|settings|scripts'
      additional_dependencies: ['futures']
      args: ['--style=.style.yapf', '--parallel', '--in-place']

- repo: git@github.com:FalconSocial/pre-commit-python-sorter.git
  sha: b57843b0b874df1d16eb0bef00b868792cb245c2
  hooks:
    - id: python-import-sorter
      args: ['--silent-overwrite']

- repo: git@github.com:humitos/mirrors-docformatter.git
  sha: v0.0.1
  hooks:
    - id: docformatter
      args: ['--in-place', '--wrap-summaries=80', '--wrap-descriptions=80', '--pre-summary-newline', '--no-blank']

- repo: git@github.com:humitos/mirrors-autoflake.git
  sha: v1.0
  hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']

- repo: git://github.com/guykisel/prospector-mirror
  sha: b27f281eb9398fc8504415d7fbdabf119ea8c5e1
  hooks:
    - id: prospector
      # https://github.com/pre-commit/pre-commit/issues/178
      language: system
      files: '\.py$'
      args: ['--profile=prospector']
