language: python
python:
 - 2.7
sudo: false
env:
 - TOX_ENV=py27
 - TOX_ENV=docs
 - TOX_ENV=lint
 - TOX_ENV=eslint
cache:
  directories:
    - ~/.cache/pip
    - ~/.nvm/nvm.sh
install:
 - pip install tox
 - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.2/install.sh | bash
 - source ~/.nvm/nvm.sh
 - nvm install --lts
 - nvm use --lts
 - npm install
 - bower install
script:
 - tox -e $TOX_ENV
notifications:
  slack:
    rooms:
      - readthedocs:y3hjODOi7EIz1JAbD1Zb41sz#random
    on_success: change
    on_failure: always
