language: python
python:
  - 3.6
dist: xenial

addons:
  hosts:
    - search

jobs:
  include:
    - python: 3.6
      env: TOXENV=py36,codecov TOX_POSARGS='' ES_VERSION=6.2.4 ES_DOWNLOAD_URL=https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${ES_VERSION}.tar.gz
    - python: 3.6
      env: TOXENV=docs
    - python: 3.6
      env: TOXENV=docs-linkcheck
    - python: 3.6
      env: TOXENV=docs-lint
    - python: 3.6
      env: TOXENV=lint
      script: tox
    - python: 3.6
      env: TOXENV=eslint NODE_VERSION=10.17.0
    - python: 3.6
      env: TOXENV=migrations

  allow_failures:
    - env: TOXENV=docs-linkcheck
cache:
  directories:
    - ~/.cache/pip
    - ~/.nvm/nvm.sh
    - ~/.npm
install:
  - ./scripts/travis/install_elasticsearch.sh
  - ./scripts/travis/install_node.sh
  - pip install tox-travis
script:
  - tox
notifications:
  slack:
    rooms:
      - readthedocs:y3hjODOi7EIz1JAbD1Zb41sz#random
    on_success: change
    on_failure: always

branches:
  only:
  - master
  - rel # Community release branch
  - relcorp # Corporate release branch
