language: python
python:
 - "2.7"
install:
 - pip install flake8 
 - pip install -r --allow-all-external --allow-unverified bzr --allow-unverified launchpadlib --allow-unverified lazr.authentication pip_requirements.txt 
script:
 #- flake8 `find . -iname "*.py" -not -ipath "*migration*"`
 - ./runtests.sh
