language: python
python:
  - 2.7
  - 3.6
sudo: false
env:
  - ES_VERSION=1.3.9 ES_DOWNLOAD_URL=https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-${ES_VERSION}.tar.gz
matrix:
  include:
    - python: 3.6
      env: TOXENV=docs
    - python: 3.6
      env: TOXENV=docs-lint
    - python: 3.6
      env: TOXENV=lint
      script: tox
    - python: 3.6
      env: TOXENV=eslint
cache:
  directories:
    - ~/.cache/pip
    - ~/.nvm/nvm.sh
    - ~/.npm
install:
  - ./scripts/travis/install_elasticsearch.sh
  - pip install tox-travis
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.2/install.sh | bash
  - source ~/.nvm/nvm.sh
  - nvm install --lts
  - nvm use --lts
  - npm install -g bower
  - npm install
  - bower install
script:
  - ./scripts/travis/run_tests.sh
notifications:
  slack:
    rooms:
      - readthedocs:y3hjODOi7EIz1JAbD1Zb41sz#random
    on_success: change
    on_failure: always

branches:
  only:
  - master
