include AUTHORS.rst
include .github/CONTRIBUTING.rst
include README.rst
include CHANGES
include LICENSE
include MANIFEST.in
include requirements.txt
recursive-include requirements *.txt
recursive-include docs *
recursive-include readthedocs *
recursive-exclude readthedocs *.pyc
