docutils
simplejson
sphinx
celery
django-celery
django-kombu
celery-haystack
django-extensions
django-haystack
mimeparse
django-profiles
mercurial
bzr
github2
httplib2
distutils2
Unipath
django
BeautifulSoup==3.2.0
unittest-xml-reporting
redis
pyquery==1.0
-e git+http://github.com/nathanborror/django-basic-apps.git#egg=basic
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
-e git+http://github.com/alex/django-taggit.git#egg=taggit
-e git+http://github.com/ericflo/django-pagination.git#egg=pagination
-e git+http://github.com/nathanborror/django-registration.git#egg=django-registration
-e git+https://github.com/toastdriven/django-tastypie.git#egg=tastypie
