# Hack around bzr hosting

--allow-external bzr
--allow-unverified bzr 
--allow-external launchpadlib
--allow-unverified launchpadlib 
--allow-external lazr.authentication
--allow-unverified lazr.authentication

## Upgraded packages
pip==1.5.6
virtualenv==1.11.6
docutils==0.11
Sphinx==1.2.2

django>=1.6
django-tastypie==0.11.1
django-haystack==2.1.0
celery-haystack==0.7.2
django-guardian==1.2.0
django-extensions==1.3.8
South==0.8.4
djangorestframework==2.3.14 
django-nose==1.2

requests==2.3.0
slumber==0.6.0
lxml==3.3.5

# Basic tools
redis==2.7.1
hiredis==0.1.2
celery==3.0.24
django-celery==3.0.23
mkdocs==0.4
django-allauth==0.16.1

# VCS
bzr==2.5b4
mercurial==2.6.3
github2==0.5.2
httplib2==0.7.7

# Search
elasticsearch==0.4.3
pyquery==1.2.2


# Utils
django-gravatar2==1.0.6
doc2dash==1.1.0
pytz==2013b
beautifulsoup4==4.1.3
Unipath==0.2.1
django-kombu==0.9.4
django-secure==0.1.2
mimeparse==0.1.3
mock==1.0.1
simplejson==2.3.0

# Docs
sphinx-http-domain==0.2

# Version comparison stuff
Distutils2==1.0a3
distlib==0.1.2

# Commenting stuff
django-cors-headers==0.11

# Pegged git requirements
git+https://github.com/alex/django-filter.git#egg=django-filter
git+https://github.com/ericflo/django-pagination.git@e5f669036c#egg=django_pagination-dev
git+https://github.com/ericholscher/readthedocs-sphinx-ext#egg=readthedocs_ext

git+https://github.com/alex/django-taggit.git#egg=django_taggit-dev

