{% extends "registration/base_registration.html" %}


{% block title %}Registration complete{% endblock %}
{% block body_class %}{{ block.super }} registration_complete{% endblock %}


{% block content-header %}
  <h1>Registration complete</h1>
{% endblock %}


{% block content %}
  <h3>Activate your account</h3>
  <p>We will be sending you an email with an activation link which you'll need to click to verify this account. If you choose not to activate your account it will eventually become disabled.</p>
  <p>Check your email.</p>
{% endblock %}
