version: 2.1

jobs:
  tests:
    docker:
      - image: 'cimg/python:3.6'
        environment:
          TOX_POSARGS: ''
      - image: 'docker.elastic.co/elasticsearch/elasticsearch:7.9.2'
        name: search
        environment:
          discovery.type: single-node
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: tox -e py36,codecov

  sphinx-tests:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - checkout
      - run: pip install --user tox
      - run: tox -c sphinx-tox.ini

  checks:
    docker:
      - image: 'cimg/python:3.6'
        environment:
          NODE_VERSION: 10.17.0
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run: pip install --user tox
      - run: scripts/circle/install_node.sh
      - run:
          name: Add node to the path
          command: |
            echo 'export PATH=~/.nvm/versions/node/v${NODE_VERSION}/bin:$PATH' >> $BASH_ENV
            source $BASH_ENV
      - run: tox -e migrations
      - run: tox -e lint
      - run: tox -e docs-lint
      - run: tox -e docs
      - run: tox -e eslint

workflows:
  version: 2
  test:
    jobs:
      - checks
      - tests
      - sphinx-tests
