
    <!-- BEGIN header-->
    <div id="rtfd-header">

        <!-- BEGIN header title-->
        <div class="rtfd-header-title">
          <h1><a href="/">Read the Docs</a></h1>
        </div>
        <!-- END header title -->

        <!-- BEGIN global search -->
        {% if request.META.PATH_INFO != '/' %}
        <div class="rtfd-header-search">
          <form action="{% url search %}" method="GET">
            <input type="text" name="q" value="{{ term }}" id="id_site_search" placeholder="Search docs">
            <input type="submit" value="Go">
          </form>
        </div>
        {% endif %}
        <!-- END global search -->

        {% if do_bookmarking %}
        <!-- BEGIN bookmark -->
        <div class="rtfd-header-bookmark">
            {% if has_bookmark %} Check {% endif %}
            <a href="{% url bookmarks_add request.META.PATH_INFO %}" class="rtfd-header-bookmark-icon {% if has_bookmark %}active{% endif %}">Bookmark this URL</a>
        </div>
        <!-- END bookmark -->
        {% endif %}

        <!-- BEGIN header nav -->
        <div class="rtfd-header-nav">
          <ul>
            {% if project %}
              <li><a href="{{ project.get_absolute_url }}">{{ project.name }} Overview</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
              <li {% block nav-dashboard %}{% endblock %}><a href="{% url projects_dashboard %}">Dashboard</a></li>
              <li><a href="{% url auth_logout %}">Log Out</a></li>
            {% else %}
              <li><a href="{% url auth_login %}">Log in</a></li>
            {% endif %}

          </ul>
        </div>
        <!-- END header nav -->

    </div>
    <!-- END header-->
