
    <!-- BEGIN header-->
    <div id="rtfd-header">

        <!-- BEGIN header title-->
        <div class="rtfd-header-title">
          <h1><a href="/">Read the Docs</a></h1>
        </div>
        <!-- END header title -->

        <!-- BEGIN global search -->
        <div class="rtfd-header-search">
          <form action="{% url search %}">
            <input type="text" name="q" value="{{ term }}" id="id_site_search" placeholder="Search docs">
            <input type="submit" value="Go">
          </form>
        </div>
        <!-- END global search -->

        <!-- BEGIN header nav -->
        <div class="rtfd-header-nav">
          <ul>
            <li {% block nav-browse %}{% endblock %}>
              <a href="{% url projects_list %}">Browse</a>
            </li>
            <li {% block nav-dashboard %}{% endblock %}>
              {% if user.is_authenticated %}<a href="{% url projects_dashboard %}">Dashboard</a>{% else %}<a href="{% url auth_login %}">Log in</a>{% endif %}
            </li>
          </ul>
        </div>
        <!-- END header nav -->

    </div>
    <!-- END header-->
