
    <!-- BEGIN header-->
    <div id="rtfd-header">

        <!-- BEGIN header title-->
        <div class="rtfd-header-title">
          <h1><a href="/">Read the Docs</a></h1>
        </div>
        <!-- END header title -->

        <!-- BEGIN global search -->
        <div class="rtfd-header-search">
          <form action="{% url search %}">
            <input type="text" name="q" value="{{ term }}" id="id_site_search" placeholder="Search docs">
            <input type="submit" value="Go">
          </form>
        </div>
        <!-- END global search -->

        <!-- BEGIN header nav -->
        <div class="rtfd-header-nav">
          <ul>
            {% if project %}
              <li><a href="{{ project.get_absolute_url }}">Overview</a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li {% block nav-dashboard %}{% endblock %}><a href="{% url projects_dashboard %}">Dashboard</a></li>
              <li><a href="{% url auth_logout %}">Log Out</a></li>
            {% else %}
              <li><a href="{% url auth_login %}">Log in</a></li>
            {% endif %}

          </ul>
        </div>
        <!-- END header nav -->

    </div>
    <!-- END header-->
