
    <!-- BEGIN project bar -->
    <div id="project_bar">
      <div class="wrapper">

        <div class="project-title">
          <h1><a href="{% url projects_detail project.user project.slug %}">{{ project }}</a></h1>
          <a href="{% url projects_user_list project.user.username %}" class="quiet">({{ project.user }})</a>
          {% if project.version %}<span class="quiet">version {{ project.version }} </span>{% endif %}
        </div>

        <div class="options">

          {% if project.get_latest_build %}
            {% if not project.get_latest_build.success %}
              <p class="build-failure">Build failed (<a href="{% url builds_project_list project.user.username project.slug %}">why</a>)</p>
            {% endif %}
          {% else %}
            <p class="build-missing">There are no builds for this project.{% if request.user == project.user %} <a href="{% url projects_edit project.slug %}">Is the repo correct?</a>{% endif %}</p>
          {% endif %}

          <ul>
            {% if project.has_good_build %}
              <li {% block editing-option-view %}{% endblock %}><a href="{{ project.get_docs_url }}">View Docs</a></li>
            {% endif %}

            {% if request.user == project.user %}
              {% if not project.is_imported %}
                <li {% block editing-option-manage %}{% endblock %}><a href="{% url projects_manage project.slug %}">Manage Files</a></li>
              {% endif %}
              <li {% block editing-option-edit-proj %}{% endblock %}><a href="{% url projects_edit project.slug %}">Edit Project</a></li>
            {% endif %}

            {% if project.get_latest_build %}
              <li {% block editing-option-builds %}{% endblock %}><a href="{% url builds_project_list project.user.username project.slug %}">Builds</a></li>
            {% endif %}

            {% if project.project_url %}
              <li><a href="{{ project.project_url }}" rel="nofollow,noindex">Project Homepage</a></li>
            {% endif %}

            {% if project.has_versions and request.user == project.user %}
              <li><a href="{% url projects_versions project.slug %}" rel="nofollow,noindex">Versions</a></li>
            {% endif %}

          </ul>
        </div>


      </div>
    </div>
    <!-- END project bar -->
