
{% for project in project_list %}
  <li class="module-item">
    <a class="module-item-title" href="{{ project.get_absolute_url }}">{{ project.name }}</a>
    <a href="{% url projects_user_list project.user.username %}" class="quiet">({{ project.user }})</a>
    <span class="quiet">{% if project.version %}version {{ project.version }} -{% endif %} {{ project.get_latest_build.date|timesince }} ago</span>
    <ul class="module-item-menu">
      {% if project.has_good_build %}
        <li><a href="{% url docs_detail project.user.username project.slug "index.html" %}">View Docs</a></li>
      {% else %}
        <li><a href="{% url builds_project_list project.user.username project.slug %}">No Docs</a></li>
      {% endif %}
    </ul>
  </li>
{% empty %}
  <li class="module-item quiet">No projects found</li>
{% endfor %}
