
    <!-- BEGIN project bar -->
    <div id="project_bar">
      <div class="wrapper">

        <div class="project-title">
          <h1>{{ project }}</h1>
          <a href="{% url projects_user_list project.user.username %}" class="quiet">({{ project.user }})</a>
          <span class="quiet">{% if project.version %}version {{ project.version }} {% endif %}</span>
        </div>

        <div class="options">
          <ul>
            {% if request.user == project.user %}
            {% if not project.is_imported %}
            <li {% block editing-option-manage %}{% endblock %}><a href="{% url projects_manage project.slug %}">Manage Files</a></li>
            {% endif %}
            <li {% block editing-option-edit-proj %}{% endblock %}><a href="{% url projects_edit project.slug %}">Edit Project</a></li>
            {% endif %}
            <li {% block editing-option-builds %}{% endblock %}><a href="{% url builds_project_list project.user.username project.slug %}">Builds</a></li>
            <li {% block editing-option-view %}{% endblock %}><a href="{{ project.get_docs_url }}">View Docs</a></li>
            {% if project.project_url %}
            <li><a href="{{ project.project_url }}" rel="nofollow,noindex">Project Homepage</a></li>
            {% endif %}

          </ul>
        </div>

      </div>
    </div>
    <!-- END project bar -->
