
        <!-- BEGIN wide search bar -->
        <div class="wide-search-bar">
          <div class="wide-search-bar-wrapper clearfix">

            <form action="{% url search %}" method="GET">
              <div class="text-input-wrapper">
                <input type="text" name="q" value="{{ term }}" id="id_site_search" placeholder="Search docs">
              </div>
              <div class="submit-input-wrapper">
                <input type="submit" value="Let's do this.">
              </div>
            </form>

          </div>
        </div>
        <!-- BEGIN wide search bar -->

