{% extends 'base.html' %}
{% load highlight %}

{% block title %} Search: {{ query }} {% endblock %}

{% block content %}
        <div class="wide-search-bar">
          <div class="wide-search-bar-wrapper clearfix">
            <form action="." method="GET">
              <div class="text-input-wrapper">
                <input type="text" name="q" value="{{ query }}" id="id_site_search">
              </div>
              <div class="submit-input-wrapper">
                <input type="submit" value="Search.">
              </div>
            </form>
          </div>
        </div>
        {% if query %}
        <h3>Results for {{ query }}</h3>

            {% for result in page.object_list %}
                <p>
                <a href="{{ result.object.get_absolute_url }}?highlight={{ query }}">{{ result.project }} - {{ result.title }}</a>
                    {% highlight result.text with query %}
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
