{% extends "projects/base_project_editing.html" %}

{% block title %}{{ build.project.name }}{% endblock %}

{% block content-header %}<h1>Build for {{ build.project.name }}</h1>{% endblock %}

{% block content %}
  <p>Built: {{ build.date|date:"N j, Y. P" }}</p>

  <p>Outcome: {{ build.success|yesno:"Passed,Failed" }}</p>

  <h3>Output</h3>
  <pre class="build-output">{{ build.output }}</pre>

  {% if build.error %}
  <h3>Error</h3> 
  <pre class="build-error">{{ build.error }}</pre>
  {% endif %}

{% endblock %}
