{% extends "projects/base_project.html" %}

{% block nav-dashboard %} class="active"{% endblock %}

{% block project_editing %}
    <!-- BEGIN project ediitng toobar -->
    <div id="project_editing_toolbar">
      <div class="wrapper">

        <div class="project-title">
          {{ project }}
        </div>

        <div class="editing-options">
          <ul>
            <li {% block editing-option-conf %}{% endblock %}><a href="{% url projects_configure project.slug %}">Edit Conf</a></li>
            <li {% block editing-option-new-page %}{% endblock %}><a href="{% url projects_file_add project.slug %}">Add New Page</a></li>
            <li {% block editing-option-view %}{% endblock %}><a href="{{ project.get_docs_url }}">View Docs</a></li>
          </ul>
        </div>

      </div>
    </div>
    <!-- END content ediitng toobar -->
{% endblock %}
