{% extends "projects/base_project.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_editing %}
    <!-- BEGIN project bar -->
    <div id="project_bar">
      <div class="wrapper">

        <div class="project-title">
          <h2>{{ project }}</h2>
          <a href="{% url projects_user_list project.user.username %}" class="quiet">({{ project.user }})</a>
          <span class="quiet">{% if project.version %}version {{ project.version }} -{% endif %} {{ project.modified_date|date:"j F, Y" }}</span>
        </div>

        <div class="editing-options">
          <ul>
            <li {% block editing-option-view %}{% endblock %}><a href="{{ project.get_docs_url }}">View Docs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END project bar -->
{% endblock %}

{% block content %}
  <h3>Tags</h3>
  <ul>
    {% for tag in project.tags.all %}
      <li><a href="{% url projects_tag_detail tag.slug %}">{{ tag.name }}</a></li>
    {% empty %}
      <li>No tags</li>
    {% endfor %}
  </ul>

  <h3>Latest Revisions</h3>
  <ul>
    {% for revision in project.get_latest_revisions|slice:":5" %}
      <li>{{ revision }} {{ revision.created_date|timesince }} ago</li>
    {% endfor %}
  </ul>
  
  <h3>Projects by {{ project.user.username }}</h3>
  <ul>
    {% for user_project in user.projects.all %}
      {% if project.pk != user_project.pk %}
        <li><a href="{{ user_project.get_absolute_url }}">{{ user_project.name }}</a></li>
      {% endif %}
    {% endfor %}
    {% if user.projects.all|length == 1 %}
      <li>No other projects by {{ project.user.username }}</li>
    {% endif %}
  </ul>
{% endblock %}
