{% extends "projects/base_project.html" %}

{% block title %}Projects{% endblock %}

{% block nav-browse %}class="active"{% endblock %}

{% block content %}
          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h2>Recently Updated</h2>
              </div>

              <div class="module-list">
                <ul>
                  {% for project in project_list %}
                    <li class="module-item"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>

            </div>
          </div>
          <!-- END projects list -->
{% endblock %}
