{% extends "projects/base_project.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_editing %}
      {% include "core/project_bar.html" %}
{% endblock %}

{% block content %}

  {% if project.project_url %}
  <a href="{{ project.project_url }}" rel="nofollow,noindex">Project Homepage</a>
  {% endif %}

  <h3>Tags</h3>
  <p>
    {% for tag in project.tags.all %}
      <a href="{% url projects_tag_detail tag.slug %}">{{ tag.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
    {% empty %}
      <li>No tags</li>
    {% endfor %}
  </p>

  <h3>Latest Revisions</h3>
  <ul>
    {% for revision in project.get_latest_revisions|slice:":5" %}
      <li>{{ revision }} {{ revision.created_date|timesince }} ago</li>
    {% endfor %}
  </ul>

{% endblock %}
