<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- title -->
  <title>{% block title %}{% endblock %} | Read the Docs</title>

  <!-- css -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/core.css">

  <!-- js -->
    
    <!-- jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <!-- typekit -->
    <script type="text/javascript" src="http://use.typekit.com/xgl8ypn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body>
    {% include "core/header.html" %}

    {% block project_editing %}
    {% endblock %}

    <!-- BEGIN content-->
    <div id="content">
      <div class="wrapper">
        
        {% block content-header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

      </div>
    </div>
    <!-- END content-->

</body>

</html>
