<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- title -->
  <title>{% block title %}{% endblock %} | Read the Docs</title>

  <!-- css -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/core.css">

  <!-- js -->
    
    <!-- jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <!-- typekit -->
    <script type="text/javascript" src="http://use.typekit.com/xgl8ypn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body>

    <!-- BEGIN header-->
    <div id="header">
      <div class="wrapper">

        <!-- BEGIN header title-->
        <div class="header-title">
          <h1>Read the Docs</h1>
        </div>
        <!-- END header title -->


        <!-- BEGIN global search -->
        <div class="header-search">
          <form>
            <input type="text" name="q" placeholder="Search docs">
            <input type="submit" value="Go">
          </form>
        </div>
        <!-- END global search -->

        <!-- BEGIN header nav -->
        <div class="header-nav">
          <ul>
            <li {% block nav-browse %}{% endblock %}>
              <a href="#">Browse</a>
            </li>
            <li {% block nav-dashboard %}{% endblock %}>
              {% if user.is_authenticated %}<a href="{% url projects_dashboard %}">Dashboard</a>{% else %}<a href="{% url auth_login %}">Log in</a>{% endif %}
            </li>
          </ul>
        </div>
        <!-- END header nav -->

      </div>
    </div>
    <!-- END header-->

    {% block project_editing %}
    {% endblock %}

    <!-- BEGIN content-->
    <div id="content">
      <div class="wrapper">
        
        {% block content-header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

      </div>
    </div>
    <!-- END content-->

</body>

</html>
