<!DOCTYPE html>
<html lang="en">

<head>
  
  <!-- meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- title -->
  <title>{% block title %}{% endblock %} | Read the Docs</title>

  <!-- css -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/core.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/header.css">

  <!-- js -->
    
    <!-- jquery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    <!-- typekit -->
    <script type="text/javascript" src="http://use.typekit.com/xgl8ypn.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body class="{% block body_class %}{% endblock %}">

    {% block header-wrapper %}{% include "core/header.html" %}{% endblock %}

    {% block project_editing %}{% endblock %}

    <!-- BEGIN content-->
    <div id="content">
      <div class="wrapper">
        
        {% block content-header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

      </div>
    </div>
    <!-- END content-->

    <!-- BEGIN footer-->
    <div id="footer">
      <div class="wrapper">
        
        <hr>

        {% block footer-content %}
        2010.  Created by <a href="http://ericholscher.com/">Eric Holscher</a>, <a href="http://charlesleifer.com/">Charles Leifer</a>, and <a href="http://bobbygrace.info/">Bobby Grace</a> for the 2010 <a href="http://djangodash.com/">Django Dash</a>.
        {% endblock %}

      </div>
    </div>
    <!-- END footer-->

</body>

<!-- BEGIN google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17997319-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- END google analytics -->

</html>
