{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}Home{% endblock %}

{% block body_class %}home {% if not request.user.is_authenticated %}splash{% endif %}{% endblock %}

{% block nav-browse %}class="active"{% endblock %}

{% block header-wrapper %}
  {% if request.user.is_authenticated %}
    {% include "core/header.html" %}
  {% else %}
    {% include "core/home-header.html" %}
  {% endif %}
{% endblock %}

{% block content %}

          {% include "core/widesearchbar.html" %}

          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>Recently Updated Projects <span class="small_head"><a href="{% url projects_list %}">(All Projects)</a></span></h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% include "core/project_list_detailed.html" %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END projects list -->


          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>Most Viewed Pages <span class="small_head"><a href="{% url pageviews_list %}">(All Views)</a></span></h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% with updated_list as pageview_list %}
                      {% include "core/pageview_list_detailed.html" %}
                    {% endwith %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END projects list -->


          {% comment %}
          <!-- BEGIN marks list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                <h3>Recently Bookmarked Docs <span class="small_head"><a href="{% url bookmarks_list %}">(All Bookmarks)</a></span></h3>
              </div>

              <div class="module-list">
                <div class="module-list-wrapper">
                  <ul>
                    {% include "core/bookmark_list_detailed.html" %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <!-- END marks list -->
          {% endcomment %}

{% endblock %}
