{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block nav-browse %}class="active"{% endblock %}

{% block header-wrapper %}
{% if request.user.is_authenticated %}
    {% include "core/header.html" %}
{% else %}
    {% include "core/home-header.html" %}
{% endif %}
{% endblock %}

{% block content %}

          {% include "core/widesearchbar.html" %}

          {% autopaginate project_list 15 %}

          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                  <h2>Recently Updated Projects<small class="small_head"> <a href="{% url projects_list %}">(All Projects)</a></small></h2>
              </div>

              <div class="module-list">
                <ul>
                  {% include "core/project_list_detailed.html" %}
                </ul>
              </div>

            </div>
          </div>
          <!-- END projects list -->


          <!-- BEGIN projects list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                  <h2>Most Viewed Pages <small><a href="{% url pageviews_list %}">(All Views)</a></small></h2>
              </div>

              <div class="module-list">
                <ul>
                  {% with updated_list as pageview_list %}
                      {% include "core/pageview_list_detailed.html" %}
                  {% endwith %}
                </ul>
              </div>

            </div>
          </div>
          <!-- END projects list -->

          <!-- BEGIN marks list -->
          <div class="module">
            <div class="module-wrapper">

              <div class="module-header">
                  <h2>Recently Bookmarked Docs <small><a href="{% url bookmarks_list %}">(All Bookmarks)</a></small></h2>
              </div>

              <div class="module-list">
                <ul>
                  {% include "core/bookmark_list_detailed.html" %}
                </ul>
              </div>

            </div>
          </div>
          <!-- END marks list -->


          {% paginate %}

{% endblock %}
