var READTHEDOCS_DATA = {{ rtd_json|safe }}

<!-- RTD Analytics Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17997319-1']);
  _gaq.push(['_trackPageview']);
{% if analytics_code %}
  // User Analytics Code
  _gaq.push(['user._setAccount', '{{ analytics_code }}']);
  _gaq.push(['user._trackPageview']);
  // End User Analytics Code
{% endif %}

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- end RTD Analytics Code -->

