{% extends "profiles/base_profile.html" %}

{% block title %}{{ user }}'s profile{% endblock %}

{% block content-header %}
  <h1>{{ user }}'s profile</h1>
{% endblock %}

{% block content %}
  <dl>
    {% if profile.user.first_name or profile.user.last_name %}
      <dt>Name</dt>
      <dd>{{ profile.user.first_name }} {{ profile.user.last_name }}</dd>
    {% endif %}

    {% if profile.user.email %}
      <dt>Email</dt>
      <dd>{{ profile.user.email }}</dd>
    {% endif %}

    {% if profile.homepage %}
      <dt>Homepage</dt>
      <dd><a href="{{ profile.homepage }}">{{ profile.homepage }}</a></dd>
    {% endif %}

    <dt>Whitelisted?</dt>
    <dd>{{ profile.whitelisted }}</dd>
  </dl>
{% endblock %}

