/*
 * sphinxdoc.css_t
 * ~~~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- sphinxdoc theme.  Originally created by
 * Armin Ronacher for Werkzeug.
 *
 * :copyright: Copyright 2007-2010 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

/* RTD colors
 * light blue: #e8ecef
 * medium blue: #8ca1af
 * dark blue: #465158
 * dark grey: #444444
 *
 * white hover: #d1d9df;
 * medium blue hover: #697983;
 * green highlight: #8ecc4c
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font: 16px/24px "ff-meta-web-pro-1","ff-meta-web-pro-2",Arial,"Helvetica Neue",sans-serif;

    /*
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 14px;
    */
    /*letter-spacing: -0.01em;*/
    line-height: 150%;
    text-align: center;
    color: black;
    background-color: #465158;
    padding: 0;

    margin: 0;
    min-width: 740px;
}

div.document {
    text-align: left;
}

div.bodywrapper {
    background-color: #ffffff;
    margin: 0 0 0 240px;
    border-left: 1px solid #ccc;
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}

div.related {
    font-size: 1em;
    background-color: #465158;
}

div.related ul {
    height: 41px;
}

div.related ul li {
    margin: 0;
    padding: 8px 0;
    float: left;
    display: block;
    color: transparent; /* Hide the >> and | characters */
    font-size: 0.8em;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    font-weight: bold;
    margin: 6px 0 6px 0;
    line-height: 1.75em;
    color: #ffffff;
    padding: 5px 10px;
    background-color: #8ca1af;
    border: 1px solid #8ca1af;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 1px 1px #465158;
}
div.related ul li a tt {
    background: inherit !important;
    color: inherit !important;
}

div.related ul li a:hover {
    background-color: #8ecc4c;
    border-bottom-color: #50732b;
    border-left-color: #6b9939;
    border-right-color: #6b9939;
    border-top-color: #b0e090;
    color: #ffffff;
    text-decoration: none;
}
/*
div.related ul li a tt:hover {
    background: inherit !important;
    color: inherit !important;
    border: inherit !important;
}
*/

/* These aren't too useful, since the related bar
 * contains both left- and right-floated items */
div.related ul li:first-child a { }
div.related ul li:last-child a { }

div.documentwrapper {
    float: left;
    width: 100%;
}

div.sphinxsidebarwrapper {
    padding: 0;
    background-color: #EEEEEE;
}

div.sphinxsidebar {
    margin: 0;
    margin-left: -100%;
    float: left;
    top: 3em;
    left: 0;
    padding: 0 1em;
    width: 210px;
    font-size: 1em;
    text-align: left;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin: 1.2em 0 0.3em 0;
    font-size: 1em;
    padding: 0;
    color: #222222;
    font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", "Arial", "Helvetica Neue", sans-serif;
    /*
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    */
    /* -moz-box-shadow: 0 1px 1px #465158; */
}

div.sphinxsidebar h3 a {
    color: #444444;
}

div.sphinxsidebar ul,
div.sphinxsidebar p {
    padding-left: 1em;
    line-height: 130%;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}

div.footer {
    background-color: #465158;
    color: #eeeeee;
    padding: 0 2em 2em 2em;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}

div.footer a {
    color: #86989B;
    text-decoration: none;
    border: none;
}

div.footer a:hover {
    color: #a6b8bb;
    text-decoration: underline;
    border: none;
}

/* -- body styles ----------------------------------------------------------- */

p {
    margin: 0.8em 0 0.5em 0;
}

a {
    /* color: #355f7c; */
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

a:hover {
    color: #111111;
    text-decoration: none;
    border-bottom: 1px solid #111111;
}

/*
a tt {
    color: #444;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

a tt:hover {
    color: #111111;
    text-decoration: none;
    border-bottom: 1px solid #111111;
}
*/

/* Permalink anchor */
a.headerlink {
    color: #ccc !important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none !important;
    border: none;
}

a.headerlink:hover {
    color: #c60f0f !important;
    border: none;
}


h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 1.5em;
    color: #11557C;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 1.35em;
    padding: 0;
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.2em;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: black;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa !important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #f2f2f2;
    /* border-bottom: 1px solid #ddd; */
    color: #333;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}

hr {
    border: 1px solid #abc;
    margin: 2em;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    /* background-color: #f8f8f8; */
    background-color: #f0f4f8;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989B;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid #86989B;
    font-weight: bold;
    background-color: #AFC1C4;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}

.viewcode-back {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

dl {
    margin: 1em 0 2.5em 0;
}

/* Highlight when you click an internal link */
dt:target, .highlight {
    background: #ffe080;
}

/* Search text box and "Go" button */
#searchbox {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #ddd;
    padding: 0.5em;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
#searchbox h3 {
    margin-top: 0;
}
input,
div.sphinxsidebar input {
    border: none;
    float: left;
}

input[type="text"] {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 150px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
}

input[type="submit"] {
    margin: 0;
    height: 20px;
    color: #444;
    background-color: #eee;
    padding: 0 6px;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

input[type="submit"]:hover {
    color: #ffffff;
    background-color: #8ecc4c;
    border-bottom-color: #50732b;
    border-left-color: #6b9939;
    border-right-color: #6b9939;
    border-top-color: #b0e090;
}

div.sphinxsidebar p.searchtip {
    clear: both;
    padding: 0.5em 0 0 0;
}
