{% extends "base.html" %}

{% block dashboard_bar %}

    <!-- BEGIN dashboard bar -->
    <div id="dashboard_bar">
      <div class="wrapper">

          <ul>
            <li class="first last {% block dash-nav-projects %}{% endblock %}"><a href="{% url projects_dashboard %}">Projects</a></li>
            {% comment %}
            <li class="{% block dash-nav-bookmarks %}{% endblock %}"><a href="{% url user_bookmarks %}">Bookmarks</a></li>
            {% endcomment %}
          </ul>

          <ul>
            <li class="first {% block dash-nav-create %}{% endblock %}"><a href="{% url projects_create %}">Create</a></li>
            <li class="last {% block dash-nav-import %}{% endblock %}"><a href="{% url projects_import %}">Import</a></li>
          </ul>

      </div>
    </div>
    <!-- END dashboard bar -->

{% endblock %}
