/*
 * sphinxdoc.css_t
 * ~~~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- sphinxdoc theme.  Originally created by
 * Armin Ronacher for Werkzeug.
 *
 * :copyright: Copyright 2007-2010 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

/* RTD colors
 * light blue: #e8ecef
 * medium blue: #8ca1af
 * dark blue: #465158
 * dark grey: #444444
 *
 * white hover: #d1d9df;
 * medium blue hover: #697983;
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font: 16px/24px "ff-meta-web-pro-1","ff-meta-web-pro-2",Arial,"Helvetica Neue",sans-serif;

    /*
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 14px;
    */
    letter-spacing: -0.01em;
    line-height: 150%;
    text-align: center;
    color: black;
    padding: 0;

    margin: 0;
    min-width: 740px;
}

div.document {
    background-color: white;
    text-align: left;
    background-image: url(contents.png);
    background-repeat: repeat-x;
}

div.documentwrapper {
    float: left;
}

div.bodywrapper {
    /* margin: 0 240px 0 0; */
    margin: 0 0 0 230px;
    border-right: 1px solid #ccc;
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}

div.related {
    font-size: 1em;
    background-color: #465158;
}

div.related ul {
    height: 3em;
}

div.related ul li {
    margin: 0;
    padding: 8px 0;
    float: left;
    display: block;
    color: transparent; /* Hide the >> and | characters */
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    font-weight: bold;
    margin: 6px 0 6px 0;
    line-height: 1.75em;
    color: #ffffff;
    padding: 5px 10px;
    background-color: #8ca1af;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 1px 1px #465158;
}
div.related ul li a tt {
    color: #ffffff;
}

div.related ul li a:hover {
    background: #697983;
    text-decoration: none;
}

/* These aren't too useful, since the related bar
 * contains both left- and right-floated items */
div.related ul li:first-child a { }
div.related ul li:last-child a { }

div.sphinxsidebarwrapper {
    padding: 0;
}

div.sphinxsidebar {
    float: left;
    margin: 0;
    padding: 0 1em;
    width: 210px;
    font-size: 1em;
    margin-left: -100%;
    text-align: left;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin: 1.2em 0 0.5em 0;
    font-size: 1em;
    padding: 0.2em 0 0.2em 0.6em;
    color: #444444;
    border: 1px solid #444444;
    background-color: #d1d9df;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    -moz-border-radius: 3px 3px 3px 3px;
    /* -moz-box-shadow: 0 1px 1px #465158; */
}

div.sphinxsidebar h3 a {
    color: #444444;
}

div.sphinxsidebar ul {
    padding-left: 1.5em;
    margin-top: 7px;
    padding: 0;
    line-height: 130%;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}

div.footer {
    background-color: #465158;
    color: #eeeeee;
    padding: 0 2em 2em 2em;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}

div.footer a {
    color: #86989B;
    text-decoration: underline;
}

/* -- body styles ----------------------------------------------------------- */

p {
    margin: 0.8em 0 0.5em 0;
}

a {
    color: #70a0b0;
    text-decoration: none;
}

a:hover {
    color: #5080d0;
    text-decoration: underline;
}

a tt {
    border: 0;
    color: #70a0b0;
}

a tt:hover {
    color: #5080d0;
}


h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 1.5em;
    color: #11557C;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 1.35em;
    padding: 0;
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.2em;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: black;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa !important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

a.headerlink {
    color: #d1d9df !important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none !important;
}

a.headerlink:hover {
    color: #c60f0f !important;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}

hr {
    border: 1px solid #abc;
    margin: 2em;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    -moz-border-radius: 5px 5px 5px 5px;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989B;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid #86989B;
    font-weight: bold;
    background-color: #AFC1C4;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}

.viewcode-back {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

dl {
    margin: 1em 0 2.5em 0;
}
