name: Read the Docs Pull Request Preview
on:
  pull_request_target:
    types:
      - opened
    paths:
      - "docs/**"

permissions:
  pull-requests: write

jobs:
  pr-preview-links:
    runs-on: ubuntu-latest
    steps:
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "docs"
          message-template: |
            ---
            :books: Documentation previews :books:

            - User's documentation (\`docs\`): {docs-pr-index-url}

      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "dev"
          message-template: |
            - Developer's documentation (\`dev\`): {docs-pr-index-url}
